<!--@css(/layout/sidebar.css)-->
        <div class="gridContainer" style="display: grid;grid-template-columns: repeat(4,1fr);">
<div class="gridItem" data-component-id="298" id="grid_id_1588059838162_5" style="grid-area: 1 / 1 / 5 / 5;min-width: 0;">
    <div class="dnd_module_bd522719e3bcdbe47d156c1185c0d417">
<!-- MOMA COMPONENT 298 : B_슬라이딩메뉴_상단구성_V02 -->
<div class="topMenu">
    <h1 module="Layout_LogoTop" class="logo">
        <a href="/index.html">{$mall_name}</a>
    </h1>
    <div module="Layout_stateLogon" class="member">
        <ul class="info">
            <li class="myshop"><a href="/myshop/index.html"><img src="https://moma-img.echosting.cafe24.com/img/1/bd52/icon_myshop.png" width="24" alt="" /></a></li>
            <li class="wish"><a href="/myshop/wish_list.html"><img src="https://moma-img.echosting.cafe24.com/img/1/bd52/icon_wish.png" width="28" alt="" /></a></li>
            <li class="cart"><a href="/order/basket.html"><img src="https://moma-img.echosting.cafe24.com/img/1/bd52/icon_cart.png" width="20" alt="" /><span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a></li>
        </ul>
        <p class="message"><strong>{$name}님, 안녕하세요.</strong><br />즐거운 쇼핑 되세요</p>
        <div class="btnMember">
            <a href="{$action_logout}" class="button btnEm">로그아웃</a>
            <a href="/myshop/order/list.html" class="button btnNormal">주문조회</a>
        </div>
    </div>
    <div module="Layout_stateLogoff" class="member">
        <ul class="info">
            <li class="wish"><a href="/myshop/wish_list.html"><img src="https://moma-img.echosting.cafe24.com/img/1/bd52/icon_wish.png" width="28" alt="" /></a></li>
            <li class="cart"><a href="/order/basket.html"><img src="https://moma-img.echosting.cafe24.com/img/1/bd52/icon_cart.png" width="20" alt="" /><span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a></li>
        </ul>
        <p class="message"><strong>'로그아웃' 상태 입니다.</strong><br />가입하셔서 더 많은 정보와 혜택을 받으세요.</p>
        <div class="btnMember">
            <a href="/member/login.html" class="button btnEm">로그인</a>
            <a href="/member/agreement.html" class="button btnNormal">회원가입</a>
            <a href="/myshop/order/list.html" class="button btnNormal">주문조회</a>
        </div>
    </div>
    <div module="Layout_SearchHeader">
        <div class="searchForm">
            {$form.keyword}
            <button type="button" class="btnDelete">삭제</button>
        </div>
    </div>
</div>
<!-- // MOMA COMPONENT 298 : B_슬라이딩메뉴_상단구성_V02 -->
</div>
</div>
<div class="gridItem" data-component-id="1137" id="grid_id_1588066897276_6" style="grid-area: 5 / 1 / 6 / 5;min-width: 0;">
    <div class="dnd_module_941ae388f9c603f8ef7e662b1d1df1be">
<!-- MOMA COMPONENT ID 1137 : I_슬라이딩메뉴_상품분류목록 -->
<ul module="layout_category" class="category">
    <li><a href="{$link_product_list}" class="link">{$name_or_img_tag}</a></li>
    <li><a href="{$link_product_list}" class="link">{$name_or_img_tag}</a></li>
    <li><a href="{$link_product_list}" class="link">{$name_or_img_tag}</a></li>
</ul>
<!-- MOMA COMPONENT ID 1137 : I_슬라이딩메뉴_상품분류목록 -->
</div>
</div>
<div class="gridItem" data-component-id="1140" id="grid_id_1588066707071_6" style="grid-area: 6 / 1 / 7 / 5;min-width: 0;">
    <div class="dnd_module_75245c9e46cbdcdd4521d76e78edc45f"><div class="swiper-container blue col-dot" module="editor_dndSwiper">
<!--
    $target_id = grid_id_1588066707071_6
    $auto = true
    $speed = 3
    $color = blue
    $type = col-dot
-->
<div class="swiper-wrapper">
<div class="swiper-slide" module="editor_dndImage">
<a href="http://www.instagram.com/perlen_official/" target="_self">
<img src="https://moma-img.cafe24img.com/img/1/7524/I%ED%83%80%EC%9E%85_%EC%9A%B0%EB%85%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%94%A9%EB%A9%94%EB%89%B4_%ED%95%98%EB%8B%A8%EA%B5%AC%EC%84%B1_V02.png" data-template_id="" data-canvas_json="" class="swiper-lazy"><div class="swiper-lazy-preloader"></div>
</a></div>
</div>
</div></div>
</div>
<div class="gridItem" data-component-id="1141" id="grid_id_1588060054055_5" style="grid-area: 7 / 1 / 8 / 5;min-width: 0;">
    <div class="dnd_module_8cf9434014672c66e626638d3ecabf62"><div class="swiper-container blue col-dot" module="editor_dndSwiper">
<!--
    $target_id = grid_id_1588060054055_5
    $auto = true
    $speed = 3
    $color = blue
    $type = col-dot
-->
<div class="swiper-wrapper">
<div class="swiper-slide" module="editor_dndImage">
<a href="https://www.facebook.com/perlenbrewingbar/" target="_self">
<img src="https://moma-img.cafe24img.com/img/1/8cf9/I%ED%83%80%EC%9E%85_%EC%9A%B0%EB%85%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%94%A9%EB%A9%94%EB%89%B4_%ED%95%98%EB%8B%A8%EA%B5%AC%EC%84%B1_V03.png" data-template_id="" data-canvas_json="" class="swiper-lazy"><div class="swiper-lazy-preloader"></div>
</a></div>
</div>
</div></div>
</div>
<div class="gridItem" data-component-id="1089" id="grid_id_1576044852589_7" style="grid-area: 8 / 1 / 9 / 5;min-width: 0;">
    <div class="dnd_module_4098821e416b345f5e2ba7a723232dae">
<!-- MOMA COMPONENT ID 1089 : F_슬라이딩메뉴_하단구성_v03 -->
<div module="Layout_info">
    <p><a href="tel:{$phone}">T.{$phone}</a></p>
</div>
<!-- //MOMA COMPONENT ID 1089 : F_슬라이딩메뉴_하단구성_v03 -->
</div>
</div>
<div class="gridItem" data-component-id="1056" id="grid_id_1575273636809_6" style="grid-area: 9 / 1 / 10 / 5;min-width: 0;">
    <div class="dnd_module_3318b891c6fd3c7ca96363e89f8a6961">
<!-- MOMA COMPONENT ID 1056 : D_슬라이딩메뉴_계좌번호 -->
<div class="ec-bank-info"></div>
<!-- //MOMA COMPONENT ID 1056 : D_슬라이딩메뉴_계좌번호 -->
</div>
</div>
        </div>
<!--@js(/layout/sidebar.js)-->