@import url("/layout/basic/css/font.css");
body {
  background-color: #000000;
}

#sect1 {
  width: 100%;
  height: 100vh;
  background-image: url(/web/upload/image/arch_emotions_s1_bg.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

#sect1 .s1__container {
  position: relative;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

#sect1 .s1__text1 {
  font-size: 120px;
  position: absolute;
  letter-spacing:-0.04em;
  line-height:1.15;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

#sect1 .s1__text2 {
  font-size: 18px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media all and (max-width: 1300px) {
  #sect1 .s1__text1 {
    font-size: 80px;
  }
}

@media all and (max-width: 1024px) {
  #sect1 {background-attachment: scroll;}
  #sect1 .s1__text1 {
    font-size: 70px;
  }
}

@media all and (max-width: 767px) {
  #sect1 .s1__text1 {
    font-size: 60px;
  }
}

@media all and (max-width: 480px) {
  #sect1 .s1__text1 {
    font-size: 50px;
  }
}

#sect2 {
  background-color: #000000;
  width: 100%;
  color: #ffffff;
}

#sect2 #s2video {
  width: 100%;
}

#sect2 .s2__wrapper {
  width: 100%;
  max-width: 1610px;
  margin: auto;
  padding: 0 40px;
}

@media all and (max-width: 480px) {
  #sect2 .s2__wrapper {
    padding: 0 20px;
  }
}

#sect2 .s2__row1 {
  margin-top: 220px;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect2 .s2__row1.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#sect2 .s2__text1 {
  font-size: 20px;
}

  #sect2 .s2__text2 {
    font-size: 78px;
    margin-top: 30px;
    text-transform:capitalize;
  }
  #sect2 .s2__text3 {
    font-size: 18px;
    margin-top: 40px;
    line-height:1.5;
    word-break:keep-all;
  }
  #sect2 .s2__text4 {
  font-size: 12px;
  margin-top: 10px;
  line-height: 1;
    text-transform:uppercase; font-family:"Roboto";
  }
  #sect2 .s2__text5 {
    font-size: 18px;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 20px;
    font-weight: 300;
    line-height: 1.5;
  }

#sect2 .s2__text6 {
  font-size: 19px;
}

#sect2 .s2__star_svg {
  fill: #ffffff;
  margin-bottom: 30px;
}

@media all and (max-width: 1024px) {
  #sect2 .s2__text1 {
    font-size: 16px;
  }
  #sect2 .s2__text2 {
    font-size: 60px;
    margin-top: 20px;
  }
  #sect2 .s2__text3 {
    font-size: 16px;
    margin-top: 32px;
  }
  #sect2 .s2__text4 {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1;
  }
  #sect2 .s2__text5 {
    font-size: 16px;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 20px;
    font-weight: 100;
    line-height: 1.5;
  }
  #sect2 .s2__text6 {
    font-size: 16px;
  }
  #sect2 .s2__star_svg {
    fill: #ffffff;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 480px) {
  #sect2 .s2__text1 {
    font-size: 14px;
    word-break: keep-all;
  }
  #sect2 .s2__text2 {
    font-size: 40px;
    margin-top: 24px;
    word-break: keep-all;
  }
  #sect2 .s2__text3 {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    margin-top: 20px;
    word-break: keep-all;
  }
  #sect2 .s2__text4 {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1;
    word-break: keep-all;
  }
  #sect2 .s2__text5 {
    font-size: 14px;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 14px;
    font-weight: 100;
    line-height: 1.5;
    word-break: keep-all;
  }
  #sect2 .s2__text6 {
    font-size: 14px;
    word-break: keep-all;
  }
  #sect2 .s2__star_svg {
    fill: #ffffff;
    margin-bottom: 14px;
    word-break: keep-all;
  }
}

#sect2 .s2__row2 {
  margin-top: 120px;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect2 .s2__row2.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#sect2 .s2__row2 img {
  width: 100%;
}

@media all and (max-width: 1024px) {
  #sect2 .s2__row2 {
    margin-top: 80px;
  }
}

@media all and (max-width: 767px) {
  #sect2 .s2__row2 {
    margin-top: 70px;
  }
}

@media all and (max-width: 480px) {
  #sect2 .s2__row2 {
    margin-top: 60px;
  }
}

#sect2 .s2__row3 {
  margin-top: 320px;
  text-align: center;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect2 .s2__row3.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#sect2 .s2__row4 {
  margin-top: 180px;
}

@media all and (max-width: 1024px) {
  #sect2 .s2__row3 {
    margin-top: 240px;
  }
  #sect2 .s2__row4 {
    margin-top: 150px;
  }
}

@media all and (max-width: 767px) {
  #sect2 .s2__row3 {
    margin-top: 200px;
  }
  #sect2 .s2__row4 {
    margin-top: 120px;
  }
}

@media all and (max-width: 480px) {
  #sect2 .s2__row3 {
    margin-top: 160px;
  }
  #sect2 .s2__row4 {
    margin-top: 90px;
  }
}

#sect2 .s2__row4_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect2 .s2__row4_item.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#sect2 .s2__row4_item img {
  width: 100%;
  display: block;
  max-width: 1000px;
}

#sect2 .s2__row4_item.bigger img {
  max-width: 1000px;
}

#sect2 .s2__row4_item:nth-child(1) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect2 .s2__row4_item:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 190px;
}

#sect2 .s2__row4_item:nth-child(3) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: -25%;
}

@media all and (max-width: 1300px) {
  #sect2 .s2__row4_item:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #sect2 .s2__row4_item:nth-child(3) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 190px;
  }
}

#sect2 .s2__row5 {
  margin-top: 420px;
  text-align: center;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect2 .s2__row5.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#sect2 .s2__row5_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#sect2 .s2__row5_stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect2 .s2__row5_stars_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17px;
  margin-right: 15px;
}

#sect2 .s2__row5_stars_col svg {
  fill: #ffffff;
  width: 17px;
  height: 17px;
  margin-bottom: 0px;
}

#sect2 .s2__row5_stars_col span {
  display: block;
  width: 1px;
  height: 36%;
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  margin: 14px auto;
}

#sect2 .s2__row5_text_col {
  text-align: left;
}

@media all and (max-width: 1024px) {
  #sect2 .s2__row5 {
    margin-top: 320px;
  }
}

@media all and (max-width: 767px) {
  #sect2 .s2__row5 {
    margin-top: 260px;
  }
}

@media all and (max-width: 480px) {
  #sect2 .s2__row5 {
    margin-top: 200px;
  }
}

#sect2 .s2__row6 {
  margin-top: 200px;

}

#sect2 .s2__row6_box {
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  width: 100%;
    display:flex;
}
#sect2 .s2__row6_box:nth-child(1){
	justify-content:flex-start;
}
#sect2 .s2__row6_box:nth-child(2){
	justify-content:flex-end;
    margin-top:90px;
}
#sect2 .s2__row6_box div{
  max-width: 1000px;
    width:60%;
}
#sect2 .s2__row6_box.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#sect2 .s2__row6_box img {
  width: 100%;
}

@media all and (max-width: 1024px) {
  #sect2 .s2__row6_box:nth-child(2) {
    margin-top: 180px;
  }
}

@media all and (max-width: 767px) {
  #sect2 .s2__row6 {
    display: block;
  }
  #sect2 .s2__row6_box {
    width: 100%;
    margin: auto;
  }
	#sect2 .s2__row6_box div{width:100%;}
  #sect2 .s2__row6_box:nth-child(1) {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  #sect2 .s2__row6_box:nth-child(2) {
    margin-top: 160px;
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  #sect2 .s2__row5_stars_col span {
    margin: 12px auto;
  }
}

@media all and (max-width: 480px) {
  #sect2 .s2__row6_box:nth-child(2) {
    margin-top: 140px;
  }
}

#sect2 .s2__row10 {
  margin-top: 200px;
}

#sect2 .s2__row10_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect2 .s2__row10_box .s2__row10_fig {
  margin: 0 10px;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  max-width: 600px;
}

#sect2 .s2__row10_box .s2__row10_fig.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#sect2 .s2__row10_box:nth-child(2) {
  margin-top: 190px;
}

#sect2 .s2__row10_box .s2__row10_fig img {
  width: 100%;
}

@media all and (max-width: 1300px) {
  #sect2 .s2__row10_box {
    display: block;
  }
  #sect2 .s2__row10_box .s2__row10_fig {
    margin: 190px auto 0;
    max-width: 600px;
  }
  #sect2 .s2__row10_box:nth-child(2) {
    margin-top: 0px;
  }
}

@media all and (max-width: 1024px) {
  #sect2 .s2__row10 {
    margin-top: 150px;
  }
}

@media all and (max-width: 767px) {
  #sect2 .s2__row10 {
    margin-top: 120px;
  }
}

@media all and (max-width: 480px) {
  #sect2 .s2__row10 {
    margin-top: 90px;
  }
}

#sect3 {
  margin-top: 400px;
  width: 100%;
  background-image: url(/web/upload/image/arch_s3_bg.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding:280px 0;
}

#sect3 .s3__container {
  color: #ffffff;
}

#sect3 .s3__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

#sect3 .s3__stars svg {
  fill: #ffffff;
}

#sect3 .s3__text1 {
  font-size: 15px;
  margin-top: 50px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 60px;
  word-break: keep-all;
    font-family:"Roboto", "Apple SD";
}
#sect3 .go-button{background-color:rgba(255,255,255,0);border:2px solid #fff;transition-duration:0.6s;}
#sect3 .go-button p{color:#fff;transition-duration:0.6s;}
#sect3 .go-button:hover{background-color:rgba(255,255,255,1);transition-duration:0.3s;}
#sect3 .go-button:hover p{color:#000;transition-duration:0.3s;}
@media all and (max-width: 480px) {
  #sect3 {
    margin-top: 200px;
    padding:160px 0;
  }
  #sect3 .s3__stars {
    margin-bottom: 30px;
  }
  #sect3 .s3__text1 {
    font-size: 14px;
    margin-top: 20px;
  }
}

#footer {
  padding-top: 0;
}
/*# sourceMappingURL=archive.css.map */