
@charset "utf-8";

.cboth { clear:both;*zoom:1 }
.cboth:after { content:" "; display:block; clear:both; }
.fleft {float:left !important;}
.fright {float:right !important;}

.pdt5 {padding-top:5px;}
.pdt10 {padding-top:10px;}
.pdt15 {padding-top:15px;}
.pdt20 {padding-top:20px !important;}
.pdt30 {padding-top:30px !important;}
.pdt40 {padding-top:40px;}
.pdt50 {padding-top:40px;}
.pdt100 {padding-top:100px;}
.pdb4 {padding-bottom:4px;}
.pdb5 {padding-bottom:5px;}
.pdb10 {padding-bottom:10px;}
.pdb20 {padding-bottom:20px;}
.pdb30 {padding-bottom:30px;}
.relative {position:relative;}
.center {text-align:center;}

#contents {background-color:#fff;margin:0 auto;position:relative;}

/* 상단 */
#header {margin:0px;padding:0px;position:relative;}
.top_section {position:relative;height:60px;background-color:#fff;}
.top_section .top_cate {height:60px;line-height:60px;float:left;position:absolute;top:0;left:4%;}
.top_section .top_cate img {width:25px;vertical-align:middle;}
.top_section .top_logo {height:60px;line-height:60px;margin:0 auto;text-align:center;}
/*.top_section .top_logo a img {height:25px;vertical-align:middle;}*/
.top_section .right_area {position:absolute; line-height:60px;top:0;right:3.8%;display:inline-flex;}
.top_section .search {width:25px !important; height:60px !important; background-color:transparent;position:static;float:left;}
.top_section .search button {width:25px; height:60px;background:transparent url('/images/icon_search.png') no-repeat center center !important;background-size:25px 25px !important; border:0px !important; padding:0 !important;outline:none;}
.top_section .top_cart {height:60px;line-height:60px;float:right;margin-right:10px;}
.top_section .top_cart a {font-size:12px;line-height:60px;}

/* 하단 */
#footer {margin:50px auto 0;padding:0 4% 30px;}
.bt_runtime {font-size:12px;color:#333;font-weight:400;line-height:20px;border-top:1px solid #eee;margin-top:30px;padding-top:25px;}
.bt_runtime a {font-size:14px;color:#222;margin-bottom:10px;font-weight:700;display:block;margin-bottom:10px;}
.bt_address {margin:25px 0;font-size:12px;color:#333;font-weight:400;line-height:20px;}
.bt_address a {font-size:12px;color:#333;font-weight:400;line-height:18px;}
.bt_menu {margin-bottom:20px;}
.bt_menu a {font-size:11px;color:#333;font-weight:400;line-height:18px;float:left;margin-right:10px;}
.bt_menu a strong {font-weight:700;color:#000;}
.insta_title {font-size:18px;font-weight:700;text-align:center;color:#2a2a2a;margin-bottom:20px;letter-spacing:1px;}
.insta_title span {display:inline-block;font-size:12px;color:#fff;background-color:#adadad;font-weight:400;border-radius:15px;padding:3px 15px;margin:10px 0 0 0;letter-spacing:0.5px;}
#instafeed {width:80%;font-size:0;margin:0 auto;text-align:center;}
#instafeed a {width:19%;margin:0.5%;display:inline-block;box-sizing:border-box;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s;  transition: all 0.5s;}
#instafeed a img {width:100%;}
#instafeed a:hover {opacity:0.8;}

/* 타이틀 */
/*#titleArea { position:relative; border-bottom:0; background-color:#f5f5f5; }*/
/*#titleArea h2 { padding:0 61px; line-height:60px; font-size:15px; color:#2e2e2e; text-align:center; }*/
#titleArea span { position:absolute; top:50%;margin-top:-8px; left:15px;opacity:0;}
#titleArea .xans-layout-mobileaction a img {width:10px;}

/* 메인 */
.mainBanner {width:92%;margin:0 auto 20px;}
.mainBanner img {width:100%;}
.visual {width:92%;margin:0 auto 40px;}
.visual img {width:100%;}
.main_title {width:92%;margin:20px auto 10px;font-size:14px;color:#222;letter-spacing:1px;margin:0 auto 20px;font-weight:700;text-align:center;}
.main_title span {display:block;font-size:14px;font-weight:300;color:#555;margin:10px 0 0 0;letter-spacing:-0.5px;}
.slide_banner {width:80%;margin:0 auto 40px;}
.slide_banner img {width:100%;}

.main_video {width:92%;margin:0 auto;}
.main_video img {width:100%;}
.main_video_text {font-size:13px;color:#222;font-weight:300;margin:15px auto 40px;text-align:center;}
.main_banner {width:92%;margin:0 auto;}
.main_banner img {width:100%;}

/* 목록페이지 중분류 */
.xans-product-menupackage > ul { margin:-1px 0 0; padding:0px 14px; border-bottom:1px solid #eee; background:#fff;text-align:center;}
.xans-product-menupackage > ul > li { padding:15px 0 15px; border-top:1px solid #ececec; }
.xans-product-menupackage > ul > li > a { display:inline-block; margin:0 14px 0 0; color:#2e2e2e; font-weight:400; font-size:13px; vertical-align:top; }
.xans-product-menupackage .subCategory li a:hover,
.xans-product-menupackage .subCategory li.selected a { color:#111; }

/* 목록페이지 추천상품영역 */
.xans-product-listrecommend.ec-base-product {background-color:#fff;border-bottom:1px solid #eee;}
.xans-product-listrecommend.ec-base-product h2 {text-align:center;padding:15px 0;font-size:16px;line-height:20px;color:#2e2e2e;font-weight:400;}
.ec-base-paginate.typeSwipe {margin-top:10px;}
.ec-base-paginate.typeSwipe button.circle {width:10px;height:10px;border:2px solid #e9e7e7;background-color:#e9e7e7;outline:none;}
.ec-base-paginate.typeSwipe button.circle.selected {background-color:transparent;border:2px solid #000;}

/* 상품진열 */
.ec-base-product .description .name {color:#222;line-height:1.3em;word-wrap: break-word;margin:0 0 5px; }
.ec-base-product .description .name a {color:#222;font-size:13px;font-weight:400;}
.ec-base-product .description .summary_desc {color:#888;font-size:12px;line-height:1.3em;word-wrap:break-word;margin:0 0 5px;}
.ec-base-product .description .spec {margin-top:10px;}
.ec-base-product .description .price_custom {color:#999;font-size:13px;margin:0 0 5px;}
/*.ec-base-product .description .price {color:#000 !important;font-size:13px !important;}*/
/*.ec-base-product .description .price span {color:#000 !important;font-size:13px !important;}*/
.ec-base-product .description .color {margin:10px 0 5px 0;}
.ec-base-product .description .color .chips {width:10px;height:5px;}
.ec-base-product .description #customNaN,
.ec-base-product .description #custom0 {display:none !important;} 
.ec-base-product .description .icon .icon_img {margin:0 4px 0 0;}
.discountPeriod {display:none;}

/* 타임세일 관련 */
.timesale_box {line-height:30px;height:30px;color:#000;font-size:13px;text-align:left;margin:-5px 0 10px 0;border-bottom:1px solid #eae9e5;background: url("/images/icon_time.png") no-repeat center left;background-size:15px 15px;overflow:hidden;display:none;}
.timesale_box .untilStart {padding-left:20px;letter-spacing:1px;font-weight:500;}
.timesale_box .saletime {float:left;}
.timesale_box .sale_per {float:right;color:#f54a7e;}

/* 더보기 */
.ec-base-paginate.typeMoreview {margin-bottom:30px;}
.ec-base-paginate.typeMoreview .btnMore { display:inline-block; padding:10px 30px; border:1px solid #c9c9c9; color:#222; font-weight:400; background:#fff; }
.ec-base-paginate.typeMoreview .icoMore { display: inline-block; margin:-3px 0 0 5px; width:10px; height:10px; font-size:0px; line-height:0; vertical-align:middle; background:url("/images/customizing/btn_more.png") no-repeat 0 50%; background-size:10px 10px; }

/* 상품상세페이지 */
.xans-product-detail .overview {padding:0 0 14px 0 !important;}
.xans-product-detail h1.name {margin:5px 3% 7px 3%;font-size:16px;color:#222;font-weight:700;text-align:left;padding:0;line-height:18px;word-wrap:break-word;}
.xans-product-detail .detail_summary_desc {color:#888;font-size:14px;line-height:1.3em;word-wrap:break-word;margin:0 3% 5px 3%;}
.xans-product-detail .color {padding:0;margin:4px 0 5px 3%;}
.xans-product-detail .color .chips {width:10px;height:5px;margin:0 2px 0 0;float:left;border:1px solid #e3e3e3;font-size:0;line-height:0;}
.xans-product-detail p.prdIcon {margin:0 3% 7px}
.xans-product-detail .prdDesc {margin-top:25px;}
.xans-product-detail .prdDesc .ec-base-table {margin:0 3%;}
.xans-product-detail .ec-base-table tbody.priceArea th {font-weight:400;color:#888 !important;}
.xans-product-detail .ec-base-table tbody.priceArea {border:0;}
.xans-product-detail .prdDesc .ec-base-table table {border:0;border:1px solid #eee;}
.ec-base-table.gClearCell th, 
.ec-base-table.gClearCell td, 
.ec-base-table.typeWrite.gClearCell th {padding-top:10px;padding-bottom:10px;}
.ec-base-table.typeWrite.gClearCell td {padding-top:8px;padding-bottom:8px;}
.ec-base-table.gClearCell td span {color:#222 !important;font-weight:400 !important;}
.xans-product-detail #custom0 {display:none !important;}
.totalPrice {margin:7px 3% 0;border:1px solid #eee;}
.snsLink {padding:20px 15px 20px;}
.xans-product-detaildesign .ec-base-table tbody th span {color:#888 !important;font-weight:400 !important;font-size:13px !important;}
.xans-product-detaildesign .ec-base-table tbody td span {color:#222 !important;font-weight:400 !important;font-size:13px !important;}
.ec-base-table #span_product_price_text {color:#222 !important;font-weight:400 !important;}
.totalPrice .total strong {font-weight:700;}

/* 상품 상세페이지 버튼 */
.ec-base-button.gFixed {background-color:#fff;}
.xans-product-action {padding:0;margin:0 3%;}
.xans-product-action .ec-base-button a,
.xans-product-action .ec-base-button button {border-radius:0px;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;font-weight:700;font-size:14px;letter-spacing:-0.5px;height:50px;line-height:50px;white-space:nowrap;overflow:hidden;}
#action_buyClone,
#action_buy_btn {width:31.33%;background-color:#fe4d44;border:0px;color:#fff;float:right;}
#actionCartClone,
#actionCart {width:31.33%;background-color:#c7c7c7;border:0px;color:#fff;float:left;}
#actionWishClone,
#actionWish {width:31.33%;background-color:#c7c7c7;border:0px;color:#fff;float:left;margin:0 0 0 3%;}

/* 상품 상세페이지 탭 */
#tabProduct ul {border-bottom:1px solid #000 !important;margin:0 !important;}
#tabProduct ul li {min-height:16px !important;margin:20px 0;border-left:1px solid #555;}
#tabProduct ul li a {color:#999;line-height:6px;white-space:nowrap;overflow:hidden;letter-spacing:-0.5px}
#tabProduct ul li.selected a {border-bottom:0 !important;margin:0 !important;background:#fff !important;color:#000 !important;font-weight:400 !important;}

@media all and (min-width:569px) {
	.xans-product-detail .overview {padding:0 1% 0 2% !important;}
	.xans-product-detail .horizontal_size {float:right;margin:0;width:50%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;}
	.xans-product-detail .prdDesc {margin-top:10px;}
	#action_buy_btn,
	#actionCart {letter-spacing:-1px;}
}

@media all and (orientation:landscape) { 
	.xans-product-listmain {margin:0 auto;width:95.5%;} 
}

/* 맨위로 */
.btnTop { display:none; position:fixed; top:0; left:50%; z-index:100; margin:0 0 0 -36px; border:1px solid #d6d6d7; border-top:0; border-radius:0 0 3px 3px; opacity:0.9; background:#616161 url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_btntop.png") no-repeat 90% 7px; background-size:12px 12px; }
.btnTop a { display:inline-block; height:29px; padding:0 26px 0 10px; line-height:29px; color:#fff; }

#mobileQuickLink { z-index:301 !important; }
#mobileBtnQuickLink { z-index:100 !important; }

.dimmed { display:none; position:fixed; left:0px; top:0; right:0px; bottom:0px; z-index:150; background:rgba(0,0,0,0.7); }
#dimmedSlider { display:none; position:fixed; left:0px; top:0; right:0px; bottom:0px; z-index:500; background:rgba(0,0,0,0.7); }

