@import url("/layout/basic/css/font.css");
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

li {
  list-style: none;
}

.font1 {
  font-family: 'Cormorant Garamond';
}

.font2 {
  font-family: 'Helvetica Neue';
}

.font3 {
  font-family: 'AppleSD';
}

.font-gray {
  color: #9e9e9e;
}

.go-button {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 30px;
  font-size: 13px;
  max-width: 150px;
  padding: 15px 30px;
  margin: 0 auto;
}

.go-button p {
  font-family: "AppleSD";
  line-height: 1;
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-box {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.relative_wrap {
  position: relative;
}

.logo_small {
  width: 33px;
  height: 33px;
}

.chapter p {
  font-size: 18px;
  font-family: "Helvetica Neue";
  text-align: center;
}

.over1024 {
  display: block;
}

@media all and (max-width: 1024px) {
  .over1024 {
    display: none;
  }
}

#sect1 {
  background-color: #000000;
  margin-bottom: 40px;
}

#sect1 .s1__container {
  color: #ffffff;
  text-align: center;
  padding:300px 40px 0;
  position: relative;
}

#sect1 .s1__textBox img {
  opacity: 0;
}

#sect1 .s1__textBox img.img1 {
  -webkit-transform: translate(40px, 0);
          transform: translate(40px, 0);
}

#sect1 .s1__textBox img.img2 {
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}

#sect1 .s1__textBox img.img3 {
  -webkit-transform: translate(40px, 0);
          transform: translate(40px, 0);
}

#sect1 .init .s1__textBox img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#sect1 .init .s1__textBox img.img1 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#sect1 .init .s1__textBox img.img2 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

#sect1 .init .s1__textBox img.img3 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#sect1 .s1__star {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-15%, 60%);
          transform: translate(-15%, 60%);
  opacity: 0;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
}

#sect1 .s1__star svg {
  max-width: 290px;
  max-height: 290px;
  fill: #ffffff;
  width: 20vw;
  height: 20vw;
}

#sect1 .init .s1__star {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

@media all and (max-width: 1024px) {
  #sect1 {
    padding-top: 260px;
  }
}

@media all and (max-width: 767px) {
  #sect1 {
    padding-top: 220px;
  }
  #sect1 .s1__container{padding:0 40px;}
}

@media all and (max-width: 480px) {
  #sect1 {
    padding-top: 180px;
  }
  #sect1 .s1__container{padding:0 20px;}
}

#sect2Mob {
  width: 100%;
  padding: 0 40px;
  background-color: #000000;
  display: none;
}

#sect2Mob img {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: block;
}

@media all and (max-width: 767px) {
  #sect2Mob {
    display: block !important;
  }
}

#sect2 {
  background-color: #000000;
  position: relative;
  display: block;
}

#sect2 .s2__star {
  position: absolute;
  top: 0;
  right: 10%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
}

#sect2 .s2__star svg {
  max-width: 290px;
  max-height: 290px;
  fill: #ffffff;
  width: 20vw;
  height: 20vw;
}

#sect2 .s2__star_wrap {
  max-width: 1600px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#sect2.init .s2__star {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect2 .fixed {
  position: fixed;
  top: unset;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#sect2 .position-top {
  position: absolute;
  top: 0;
  bottom: unset;
  left: 50%;
}

#sect2 .position-bottom {
  position: absolute;
  bottom: 0;
  top: unset;
  left: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect2 .relative_wrap {
  width: 100%;
  position: absolute;
  top: 0;
}

#sect2 .s2__container {
  height: 500vh;
  position: relative;
}

#sect2 .s2__figure {
  margin: auto;
  display: block;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media all and (max-width: 767px) {
  #sect2 {
    display: none !important;
  }
}

#sect3 {
  background-color: #000000;
  position: relative;
  color: #ffffff;
  padding-bottom: 480px;
}

#sect3 .logo_small {
  margin: 0 auto 20px;
}

#sect3 .s3__container {
  width: 100%;
  color: #ffffff;
}

#sect3 .fixed {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#sect3 .position-top {
  position: absolute;
  top: 0;
  bottom: unset;
}

#sect3 .position-bottom {
  position: absolute;
  bottom: 0;
  top: unset;
}

#sect3 .s3__textBox {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#sect3 .relative_wrap {
  width: 100%;
  height: 100%;
}

#sect3 .s3__textWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  padding: 0 40px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

#sect3 .fixed .s3__textWrapper {
  opacity: 1;
}

#sect3 .s3__textWrapper svg {
  fill: #ffffff;
}

#sect3 .s3_logo {
  width: 120px;
}

#sect3 .s3__text_exp {
  font-size: 76px;
  line-height: 1;
  margin-top: 70px;
  margin-bottom: 50px;
  letter-spacing: -2px;
  font-family: "Cormorant Garamond", serif;
}

#sect3 .s3__text_exp_kr {
  line-height: 1.5;
  margin-bottom: 60px;
  word-break: keep-all;
}

#sect3 .s3__imgBox {
  position: relative;
  max-width: 1620px;
  padding: 200vh 40px 0;
  margin: auto;
}

#sect3 .s3__img_row {
  margin: 480px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sect3 .s3__img_row4, #sect3 .s3__img_row1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect3 .s3__img_row2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#sect3 .s3__img_row3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sect3 .s3__img_row img {
  width: 100%;
  display: block;
}

#sect3 .s3__img_row1 img {
  width: 50%;
}

#sect3 .s3__img_row2 img {
  width: 40%;
}

#sect3 .s3__img_row3 img {
  width: 30%;
}

#sect3 .s3__img_row4 img {
  width: 45%;
}

@media all and (max-width: 1300px) {
  #sect3 {
    padding-bottom: 400px;
  }
  #sect3 .s3__text_exp {
    font-size: 55px;
    letter-spacing: -1px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  #sect3 .s3__img_row {
    margin: 400px auto 0;
  }
}

@media all and (max-width: 1024px) {
  #sect3 {
    padding-bottom: 320px;
  }
  #sect3 .s3__text_exp {
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: 45px;
    margin-bottom: 35px;
  }
  #sect3 .s3__text_exp_kr {
    margin-bottom: 50px;
  }
  #sect3 .s3__img_row {
    margin: 320px auto 0;
  }
}

@media all and (max-width: 767px) {
  #sect3 {
    padding-bottom: 240px;
  }
  #sect3 .s3__text_exp {
    font-size: 32px;
    letter-spacing: -1px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  #sect3 .s3__text_exp_kr {
    margin-bottom: 40px;
  }
  #sect3 .s3__imgBox {
    padding: 100vh 40px 0;
  }
  #sect3 .s3__img_row {
    margin: 240px auto 0;
  }
}

@media all and (max-width: 480px) {
  #sect3 {
    padding-bottom: 220px;
  }
  #sect3 .s3__textWrapper {
    padding: 0 20px;
  }
  #sect3 .s3__text_exp {
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  #sect3 .s3__text_exp_kr {
    font-size: 14px;
    margin-bottom: 30px;
    padding:0 20px;
  }
  #sect3 .s3__imgBox {
    padding: 160vh 20px 0;
  }
  #sect3 .s3__img_row {
    margin: 220px auto 0;
  }
}

#sect4 {
  text-align: center;
  padding-top: 280px;
  padding-bottom: 160px;
  background-color: #ffffff;
}

#sect4 .s4__body {
  max-width: 680px;
  margin: auto;
  width: 100%;
}

#sect4 .s4__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect4 .s4__start svg {
  fill: #000000;
}

#sect4 .chapter {
  margin-top: 20px;
  margin-bottom:40px;
}

#sect4 .s4__text1 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 180px;
  display:none;
}

#sect4 .s4__text2 {margin:auto;padding:130px 10px;height:100%;color: #ffffff;-webkit-transition-duration: 0.6s;transition-duration: 0.6s;}
#sect4 .s4__body_wrap{display:flex;flex-direction:column;justify-content:center;padding:0 20px;}
#sect4 .s4__body_list{background-size:cover;margin-bottom:4px;}
#sect4 .s4__body_list:nth-child(1){background-image:url('/web/upload/image/mob_main_prod1.png')}
#sect4 .s4__body_list:nth-child(2){background-image:url('/web/upload/image/mob_main_prod2.png')}
#sect4 .s4__body_list:nth-child(3){background-image:url('/web/upload/image/mob_main_prod3.png')}
#sect4 .s4__body_list:nth-child(4){background-image:url('/web/upload/image/mob_main_prod4.png')}
#sect4 .s4__text2_big{font-size:32px;display:inline-block;}
#sect4 .s4__text2_small{font-size:14px;display:inline-block;}
#sect4 .s4__body_list a {
  display: block;
}

#sect4 .s4__body_list_imgWrap {
  position: relative;
  overflow: hidden;
  display:none;
}

#sect4 .s4__body_list img {
  display: none;
  margin: auto;
}

#sect4 .dummy {
  opacity: 0;
  width: 0%;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect4 .on-hover .dummy {
  width: 100%;
  margin: 0 auto 50px;
}

#sect4 img.real {
  position: absolute;
  width: 100%;
}

@media all and (max-width: 1024px) {
  #sect4 {
    padding-top: 240px;
    padding-bottom: 120px;
  }
  #sect4 .s4__text1 {
    margin-bottom: 80px;
  }
  #sect4 .on-hover .dummy {
    margin: 0 auto 30px;
  }
  #sect4 .s4__body_list img {
    display: none;
  }
}

@media all and (max-width: 767px) {
  #sect4 {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  #sect4 .s4__text1 {
    margin-bottom: 60px;
  }
  #sect4 .on-hover .dummy {
    margin: 0 auto 25px;
  }
}

@media all and (max-width: 480px) {
  #sect4 {
    padding-top: 140px;
    padding-bottom: 80px;
  }
  #sect4 .s4__text1 {
    margin-bottom: 60px;
  }
  #sect4 .on-hover .dummy {
    margin: 0 auto 20px;
  }
}

#sect5 {
  background-color: #000000;
  color: #ffffff;
 padding-top:220px;
 padding-bottom:260px;

}
#sect5 .s5__head {
  text-align: center;
  word-break:keep-all;
  padding:0 40px;
}

#sect5 .s5__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect5 .s5__stars svg {
  fill: #ffffff;
}

#sect5 .chapter {
  margin-top: 20px;
}

#sect5 .s5__text1 {
  font-size: 40px;
  margin-top: 60px;
}

#sect5 .s5__text2 {
  margin-top: 50px;
  color:rgba(255,255,255,0.4);
  line-height:1.5;
}

#sect5 .go-button {
  margin-top: 70px;
}

#sect5 .s5__body {
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
}

#sect5 .swiper-wrapper {
  display: -webkit-box;
}

#sect5 .swiper-slide img {
  width: 100%;
}

#sect5 .s5__list_name {
  font-size: 50px;
  text-align: center;
  margin-top: 14px;
}

@media all and (max-width: 1024px) {
  #sect5 {
    padding-top: 300px;
    padding-bottom: 180px;
  }
  #sect5 .s5__list_name {
    font-size: 40px;
  }
}

@media all and (max-width: 767px) {
  #sect5 {
    padding-top: 260px;
    padding-bottom: 160px;
  }
  #sect5 .s5__list_name {
    font-size: 32px;
  }
}

@media all and (max-width: 480px) {
  #sect5 {
    padding-top: 220px;
    padding-bottom: 120px;
  }
  #sect5 .s5__head {
  	padding:0 20px;
  }
  #sect5 .s5__text2{padding:0 20px;}
  #sect5 .s5__list_name {
    font-size: 24px;
  }
}

#sect6 {
  background-color: #000000;
}

#sect6 .s6__bg {
  width: 100%;
  height: 100vh;
  background-image: url(/web/upload/image/main_s6_bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#sect6 .s6__bg_mob {
  width: 100%;
  display: none;
}

#sect6 .s6__bg_mob img {
  width: 100%;
}

@media all and (max-width: 1024px) {
  #sect6 .s6__bg {
    background-attachment: scroll;
    display: none;
  }
  #sect6 .s6__bg_mob {
    display: block;
  }
}

#sect7 {
  background-color: #000000;
  color: #ffffff;
  padding:0 40px;
}

#sect7 .s7__head {
  text-align: center;
  padding: 230px 0;
}

#sect7 .s7__stars {
  margin-bottom:30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect7 .s7__stars svg {
  fill: #ffffff;
}

#sect7 .s7__tit {
  margin-top: 60px;
}

#sect7 .s7__exp {
  font-size: 15px;
  opacity: 0.4;
  margin-top: 50px;
  margin-bottom: 66px;
  word-break: keep-all;
  line-height:1.5;
}
#sect7 .go-button{border:2px solid #fff;background-color:#000;transition-duration:0.6s;}
#sect7 .go-button p{color:#fff;transition-duration:0.6s;}
#sect7 .go-button:hover{border:2px solid #fff;background-color:#fff;transition-duration:0.3s;}
#sect7 .go-button:hover p{color:#000;transition-duration:0.3s;}
@media all and (max-width: 1024px) {
  #sect7 .s7__head {
    text-align: center;
    padding: 200px 0;
  }
}

@media all and (max-width: 767px) {
  #sect7 .s7__head {
    text-align: center;
    padding: 160px 0;
  }
  #sect7 .s7__tit {
    margin-top: 40px;
  }
  #sect7 .s7__exp {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 480px) {
  #sect7{padding:0 20px;}
  #sect7 .s7__head {
    text-align: center;
    padding: 140px 0;
  }
  #sect7 .s7__tit {
    margin-top: 30px;
  }
  #sect7 .s7__exp {
    font-size: 14px;
    margin-bottom: 24px;
  }

}
/*# sourceMappingURL=main.css.map */